.content{
  text-align: center;
  background-image: url("../images/checkout_background.gif");
  background-size: cover;
}

.content div{
  display: inline-block;
  width: 450px;
  background: rgba(168, 228, 255, 0.95);
}


