#leading{
  text-align: center;
  padding-top: 185px;
  padding-bottom: 185px;
  background-image: url("../images/final_background.jpg");
  background-size: cover;
}

#leading div{
  display: inline-block;
  width: 1000px;

}

#leading-word{
  font-size: larger;
}
